/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run hseabolt/tautyping -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Giardia (protozoan/microbial eukaryotic) test dataset to check pipeline function'

    // Resource options
    max_memory  = '128.GB'
    max_cpus    = 16
    max_time    = '240.h'

    // Input data for full size test
    input = "${projectDir}/assets/samplesheet_giardia.csv"
	
    // Reference genome and GFF and feature types
    ref_fasta = "${projectDir}/assets/reference/Giardia_GS.fasta"
	ref_gff   = "${projectDir}/assets/reference/Giardia_GS.gff"
    feature_types = "${projectDir}/assets/reference/feature_types.txt"
}
