/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run hseabolt/tautyping -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'E. coli group (bacterial) test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '16.GB'
    max_time   = '8.h'

    // Input data for full size test
    input = "${projectDir}/assets/samplesheet_ecoli.csv"
	
    // Reference genome and GFF and feature types
    ref_fasta = "${projectDir}/assets/reference/Ecoli_CFT073.fasta"
	ref_gff   = "${projectDir}/assets/reference/Ecoli_CFT073.gff"
    feature_types = "${projectDir}/assets/reference/feature_types.txt"
}
